body {
    background-color: black;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.frame {
    width: 1100px;
    height: 675px;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 10px;
    margin-top: 7%;
}
.one {
    width: 11%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 5px;
    margin-top: -.3%;
}
.two {
    width: 7.25%;
    height: 20%;
    background-color: white;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 5px;
}
.three {
    width: 7.25%;
    height: 28%;
    background-color: white;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 5px;
}
.four {
    width: 7.25%;
    height: 28%;
    background-color: yellow;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 5px;
}
.five {
    width: 21%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
}
.six {
    width: 22.2%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 11.8%;
    margin-top: -62.2%;
}
.seven {
    width: 26%;
    height: 38%;
    background-color: red;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 8%;
}
.eight {
    width: 13%;
    height: 19%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 8%;
    margin-top: 0%;
}
.nine {
    width: 13%;
    height: 19%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 8%;
    margin-top: 0%;
}
.ten {
    width: 12%;
    height: 8.9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 21.8%;
    margin-top: -25.1%
}
.eleven {
    width: 12%;
    height: 8.9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 21.8%;
    margin-top: 0%
}
.twelve {
    width: 12%;
    height: 8.9%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 21.8%;
    margin-top: 0%;
}
.thirteen {
    width: 5.8%;
    height: 19%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 21.8%;
    margin-top: -.10%
}
.fourteen {
    width: 5.8%;
    height: 19%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 28%;
    margin-top: -12.6%;
}
.fifteen {
    width: 15%;
    height: 9%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: -62.3%;
}
.sixteen {
    width: 15%;
    height: 19.5%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: 0%;
}
.seventeen {
    width: 7.1%;
    height: 17.8%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: -.2%;
}
.eighteen {
    width: 7%;
    height: 17.7%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 42.5%;
    margin-top: -11.8%;
}
.nineteen {
    width: 15%;
    height: 8.9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: -.2%;
}
.twenty {
    width: 15%;
    height: 19.1%;
    background-color: blue;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: -.1%;
}
.twenty-one {
    width: 15%;
    height: 19.1%;
    background-color: red;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 34.5%;
    margin-top: 0%;
}
.twenty-two {
    width: 15%;
    height: 19%;
    background-color: blue;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: -62.3%;
}
.twenty-three {
    width: 15%;
    height: 19%;
    background-color: red;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: 0%;
}
.twenty-four {
    width: 15%;
    height: 8.9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: -.5%;
}
.twenty-five {
    width: 7%;
    height: 18.6%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: 0%;
}
.twenty-six {
    width: 7.1%;
    height: 18.6%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 58%;
    margin-top: -12.3%;
}
.twenty-seven {
    width: 15%;
    height: 18.6%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: 0%;
}
.twenty-eight {
    width: 7%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 50.2%;
    margin-top: 0%;
}
.twenty-nine {
    width: 7%;
    height: 9%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 58.1%;
    margin-top: -6.5%;
}
.thirty {
    width: 6.5%;
    height: 9%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -62%;
}
.thirty-one {
    width: 6.5%;
    height: 9.2%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 73.4%;
    margin-top: -6.5%;
}
.thirty-two {
    width: 14%;
    height: 8.9%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -.2%;
}
.thirty-three {
    width: 14%;
    height: 9.2%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -.3%;
}
.thirty-four {
    width: 14%;
    height: 8.8%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -.3%;
}
.thirty-five {
    width: 14%;
    height: 8.8%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -.2%;
}

.thirty-seven {
    width: 26.3%;
    height: 38.7%;
    background-color: blue;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: -.1%;
}
.thirty-eight {
    width: 20%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 66%;
    margin-top: 0%;
}
.thirty-nine {
    width: 18.8%;
    height: 8.9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 80.5%;
    margin-top: -62%;
}
.forty {
    width: 11.8%;
    height: 18.3%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 80.5%;
    margin-top: 0%;
}
.forty-one {
    width: 11.8%;
    height: 19.4%;
    background-color: black;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 80.5%;
    margin-top: 0%;
}
.fifty {
    width: 6%;
    height: 28.5%;
    background-color: yellow;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 93.2%;
    margin-top: -25%;
}
.fifty-one {
    width: 6%;
    height: 28.5%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 93.2%;
    margin-top: 0%;
}
.fifty-two {
    width: 6%;
    height: 18.8%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 93.2%;
    margin-top: 0%;
}
.fifty-three {
    width: 12.2%;
    height: 9%;
    background-color: white;
    border-style: solid;
    border-color:  rgb(93, 93, 93);
    border-width: 5px;
    margin-left: 86.9%;
    margin-top: 0%;
}